
<nav class="navbar navbar-expand-lg" style="background-color: #7a1f1f;">
    <div class="container-fluid">
        <a class="navbar-brand text-white fw-bold" href="#">Happydrink - Licorería</a>

        <form class="d-flex ms-auto" style="width: 300px;">
        <input class="form-control me-2" type="search" placeholder="¿Qué estás buscando?" aria-label="Buscar">
        <button class="btn btn-outline-light" type="button"></button>
        </form>
    </div>
</nav>


<div class="container my-5">
    <h2 class="mb-4 text-center text-dark">Nuestros Productos</h2>

    @if (productoResource.isLoading()) {
        <p class="text-center">Cargando...</p>
    }
    @else if (productoResource.error()) {
        <p class="text-center text-danger">Error al cargar productos</p>
    }
    @else {
        @let productList = productoResource.value();

        <div class="row g-4 justify-content-center">
        @for (item of productList?.content; track item) {
            <div class="col-md-3 col-sm-6">
            <div class="card product-card h-100 shadow-sm">
                <img [src]="item.path" class="card-img-top product-img" alt="{{ item.nombre }}">
                <div class="card-body text-center">
                <h5 class="card-title">{{ item.nombre }}</h5>
                <p class="card-text text-muted small">{{ item.descripcion }}</p>
                <p class="fw-bold text-danger">S/ {{ item.precioVenta }}</p>
                </div>
            </div>
            </div>
        }
        </div>
    }
</div>
