.product-card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    border-radius: 10px;
    height: 100%;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.product-img {
    height: 120px;
    object-fit:contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cart-item {
    font-size: 0.9rem;

}

